.ajax-loading {
	text-align: center;
	margin-top: 300px;
}

@-webkit-keyframes spin {
	to { -webkit-transform: rotate(1turn); transform: rotate(1turn); }
}

@keyframes spin {
	to { -webkit-transform: rotate(1turn); transform: rotate(1turn); }
}
 
.mult-progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	-webkit-animation: spin 1s infinite steps(8);
	        animation: spin 1s infinite steps(8);
}
 
.small.mult-progress {
	font-size: 6px;
}
 
.large.mult-progress {
	font-size: 24px;
}
 
.mult-progress:before,
.mult-progress:after,
.mult-progress > div:before,
.mult-progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #fff;
	box-shadow: 0 3.5em #fff; /* container height - part height */
	-webkit-transform-origin: 50% 2.5em;
	        transform-origin: 50% 2.5em; /* container height / 2 */
}
 
.mult-progress:before {
	background: #555;
}
 
.mult-progress:after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	background: #777;
}
 
.mult-progress > div:before {
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	background: #999;
}
 
.mult-progress > div:after {
	-webkit-transform: rotate(-135deg);
	        transform: rotate(-135deg);
	background: #bbb;
}